body {
    background: red;
}

/* HEADER */
.nav {
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(35, 83, 122)),
            color-stop(1, rgb(85, 132, 170))
        );
    width: 100%;
    text-align: center;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    display: -ms-inline-grid;
  }
  
  .left {
    position: absolute;
    float: left;
    margin-left: 200px;
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(23, 73, 114)),
            color-stop(1, rgb(21, 67, 104))
        );
    padding: 10px;
    border-right: 1px solid rgb(21, 67, 104);
    border-left: 1px solid rgb(21, 67, 104);
  }
  
  .right {
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    margin-right: 200px;
    height: 40px;
    border-right: 1px solid rgba(35, 83, 122, 0.486);
    border-left: 1px solid rgba(35, 83, 122, 0.479);
    width: 130px;
  }
  
  .crop {
    position: absolute;
    right: 70px;
    border-radius: 4px;
    margin-top: 7px;
    margin-right: 20px;
  }
  
  .username {
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .8em;
    font-weight: 450;
    color: rgba(238, 238, 238, 0.836);
    display: inline;
    right: 6;
  }